<!DOCTYPE HTML>
<html>
	<head>
		<title>Server Control</title>
	</head>
	<body>
		<script type="text/javascript">
			var username = prompt("Username (for admin access use admin): ")
			var password = prompt("Password: ");
			if(username == "lance" && password == "sigmundur") {
				document.write("ovhmhvgshau8228");
				document.write("<p><a href='/challenges'>Challenges</a></p>")
			}
			else if(username == 'admin') {
				document.write("Your IP Address has been logged");
				document.write("<p><a href='/web1'>Try Again</a></p>")
			}
			else {
				document.write("Access Denied");
				document.write("<p><a href='/web1'>Try Again</a></p>")
			}
		</script>
	</body>
</html>